.BookShelfContainer h1 {
  width: 100%;
  text-align: center;
}

.BookShelfContainer {
  display: flex;
}

.BookShelfWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;

  * {
    transition: transform 0.3s;
  }

  :hover {
    * {
        transform: scale(1.05);
        transition: transform 0.3s;
        cursor: pointer;
    }
}
}

.SearchPageWrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: deepskyblue;
  border: 1px solid black;

}