
.App {
  background-color: rgb(195, 247, 247);
  margin: 0px;
  padding: 0px;
  width: 50% ;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}


